######### GIT IGNORE #############

# Ignore compiled programs
Groundstation/*

# Ignore compiled files
*.pyc
*.scad

# Ignore Files That Don't Work Well in GIT
*.pdf
*.odt
*.png
.~lock*
*.odp

# Ignore files that will probably not be useful to anybody but me.
Presentations/Poster_Session/src/
